
body
{
    margin: 0;
    background-image: url("../Images/backgroundImg.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/*-------------------------------------Header----------------------------------*/

header
{
    background-color: rgba(9,23,31,1);
    height: 75px;
    position: sticky;
    z-index: 1;
    top: 0;
}

#headername
{
    float: left;
    color: white;
    margin: 0;
    padding: 20px;
    font-family: "Dosis";
    font-size: 25px;
    text-shadow: 2px 2px 1px darkblue;
    font-weight: bold;
}

.pagebuttons
{
    float: right;
    position: relative;
    margin-right: 50px;
}

.pagebuttons button
{
    font-family: "Dosis";
    padding: 22px;
    font-size: 20px;
    color: white;
    background-color: rgba(9,23,31,1);
    border: none;
    border-radius: 10px;
    transition: .5s;
}

.pagebuttons button:hover
{
    transform:translateY(20px);
    color: #8FCDFF;
    opacity: .8;
    cursor:pointer;
}

/*--------------------------------Home Screen----------------------------*/

.homescreen
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#homescreentext
{
    text-align: center;
    color: #8FCDFF;
    font-family: "Dosis";
    font-size: 30px;
}

#hwtext
{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px #6FB7F2;
    margin-bottom: 0;
}

span.name
{
    color: #6FB7F2;
    text-shadow: 0 0 10px ;
    font-weight: bold;
}

#mainpagebuttons button
{
    border-radius: 50px;
    padding: 20px;
    background-color: #F2BF6F;
    color: #A6762B;
    font-size: 20px;
    font-family: "Dosis";
    font-weight: bold;
    transition: .5s;
    box-shadow: 0px 0px 6px white;
}
#mainpagebuttons button:hover
{
    transform: scale(1.2);
}

.homescreen img
{
    height: 200px;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid white;
}

#homescreensocials button
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: .5s;
}

#homescreensocials button:hover
{
    transform: scale(1.5);
}

/*--------------------------About Me Section-----------------------------------------*/

.AboutMeSection
{
    text-align: center;
    height: 100vh;
    color: white;
    font-family: "Dosis";
    font-size: 20px;
}

h1
{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color:#6FB7F2;
    text-shadow: 0 0 50px #6FB7F2;
    /*animation: 3s ease-out 0s 1 slideInFromRight;*/
}

.AboutMeSection p
{
    color:white;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    /*animation: 3s ease-out 0s 1 slideInFromLeft;*/
}

@keyframes slideInFromLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translate(0);
    }
}

.Gallery
{
    width: 100%;
    height: 600px;
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation: rotation 30s infinite linear;
}

.Gallery figure
{
    display: block;
    position: absolute;
    background: black;
    overflow: hidden;
    border: solid 5px black;

}

.Gallery figure:nth-child(1) {transform: rotateY(0deg) translateZ(500px);}
.Gallery figure:nth-child(2) {transform: rotateY(90deg) translateZ(500px);}
.Gallery figure:nth-child(3) {transform: rotateY(180deg) translateZ(500px);}
.Gallery figure:nth-child(4) {transform: rotateY(270deg) translateZ(500px);}

.Gallery img
{
    filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
    width: 750px;
}

.Gallery img:hover
{
    filter: grayscale(0);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

/*-------------------------------------------------Skills Section----------------------------------------*/


.SkillsSection
{
    height: 100vh;
    font-family: "Dosis";
    border: 3px solid gray;
    margin: 50px;
    color: white;
    box-shadow: 0px 10px 10px black;
    animation: 2s ease-in 0s 1 fadein;
}

@keyframes fadein {

    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

h2
{
    font-size: 40px;
    color: #6FB7F2;
    font-weight: bold;
    text-shadow: 0 0 8px ;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.skillsColumn
{
    float: left;
    width: 33.33%;
    text-align: center;
    height: 90%;
    
}

.skillsColumn ul
{
    position: relative;
    background-color: rgba(49, 49, 122, .2);
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 20px;
    transition: 1s;
}

.skillsColumn ul:hover
{
    background-color:rgba(49, 49, 122, 1);;
}

.skillsColumn li
{
    height: 10%;
}

.plcolumn
{
    float: left;
    width: 33.33%;
    text-align: center;
    height: 90%;
    
}

.plcolumn ul
{
    position: relative;
    background-color: rgba(49, 49, 122, .2);
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 20px;
    transition: 1s;
}

.plcolumn ul:hover
{
    background-color:rgba(49, 49, 122, 1);;
}

.plcolumn li
{
    height: 10%;
}

.coursecolumn
{
    float: left;
    width: 33.33%;
    text-align: center;
    height: 90%;
    
}

.coursecolumn ul
{
    position: relative;
    background-color: rgba(49, 49, 122, .2);
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 20px;
    transition: 1s;
}

.coursecolumn ul:hover
{
    background-color:rgba(49, 49, 122, 1);;
}

.coursecolumn li
{
    height: 10%;
}


/*-----------------------------------------------------Project Section----------------------------------*/

.ProjectsSection
{
    font-family: "Dosis";
    margin-bottom: 50px;
}

h3
{
    margin: 0;
    font-size: 50px;
    font-family: 'Dosis';
    font-weight: bold;
    color: #6FB7F2;
    text-shadow: 0 0 50px #6FB7F2;
    text-align: center;
}

.TopProjectSection
{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainGame
{
    height: 75%;
    width: 50%;
    border-radius: 100px;
    box-shadow: 10px 10px 8px black;
    background-image: url("../Images/leafladimage2.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: .2s;
}

#mainGame:hover
{
    transform: scale(1.25);
    cursor: pointer;
}

#mainGameTitle
{ 
    font-size: 3vw;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 3px black;
    color: white;
    background-color: rgba(0,0,0,.5);
    border-radius: 25px;
    margin-right: 25%;
    margin-left: 25%;
}

#mainGameText
{
    font-size: 1vw;
    color: white;
    background-color: rgba(0,0,0,.5);
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 10px;
    padding: 20px;
}

.GameCollection
{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    height: 100vh;
    margin-bottom: 100px;
}

h4
{
    margin: 0;
    font-size: 2.5vw;
    text-shadow: 3px 3px black;
    color: white;
    background-color: rgba(0,0,0,.5);
    border-radius: 25px;
    margin-right: 25%;
    margin-left: 25%;
    
}

.GameCollection p
{
    color: white;
    position: relative;
    top: 20%;
    font-size: 2vh;
    background-color:  rgba(0,0,0,.5);
    margin-right: 100px;
    margin-left: 100px;
    padding: 25px;
    border-radius: 10px;

}
.GameCollection p#visible {
    overflow: visible;
}
.GameCollection p#auto {
    overflow: auto;
}
.GameCollection p#scroll {
    overflow: scroll;
}
.GameCollection p#hidden {
    overflow: hidden;
}

#game2
{
    height: 100%;
    margin-left: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 8px black;
    background-image: url("../Images/Remembermepic2.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition:  .2s;
}

#game2:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

#game3
{
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 8px black;
    background-image: url("../Images/PN3.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: .2s;
}

#game3:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

#game4
{
    height: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px 8px black;
    background-image: url("../Images/AggaryPic2.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: .2s;
    
}

#game4:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

#game5
{
    height: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px 8px black;
    background-image: url("../Images/CookieRageImage.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    transition: .2s;
}

#game5:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

h5
{
    margin-top: 0;
    font-size: 50px;
    font-family: "Dosis";
    color: white;
    text-align: center;
}

/*----------------------------------------Contact Section--------------------------------------*/

.ContactSection
{
    text-align:center;
    color: white;
    font-family: "Dosis";
    font-size: 20px;
    height: 50vh;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

#submitButton
{
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#messagebox
{
    height: 100px;
    width: 300px;
    overflow-wrap: normal;
}

/*-------------------------------------------Footer---------------------------------------------*/

footer
{
    background-color: rgba(54,76,91,255);
    z-index: 1;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

footer button
{
    margin-right: 10px;
    transition: .5s;
    cursor: pointer;
}

footer button:hover
{
    transform: scale(1.5);
}

#twitterbutton
{
    background-image: url("../Images/twitterpng.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: rgba(0,0,0,.0);
}

#facebookbutton
{
    background-image: url("../Images/facebookpng.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: rgba(0,0,0,.0);
}

#instagrambutton
{
    background-image: url("../Images/instagrampng.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: rgba(0,0,0,.0);
}

#linkedinbutton
{
    background-image: url("../Images/linkedinpng.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: rgba(0,0,0,.0);
}

#githubbutton
{
    background-image: url("../Images/githubpng.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: rgba(0,0,0,.0);
}

#itchiobutton
{
    background-image: url("../Images/itchiopng.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: rgba(0,0,0,.0);
}